
@{
    ViewBag.Title = "CalculatePrice";
}
@{
    Layout = "~/Views/Shared/_LayoutNoWhiteBar.cshtml";
}
<div class="container" style="margin-top:4%">
   <div class="text-center">
       <h2>Perhitungan Biaya</h2>
       <hr />
   </div>
    <div class="col-md-12 col-xs-12" style="margin-top:2%">
        <div class="thumbnail clearfix text-center" style="max-width:700px;width:100%;margin-left:20%">
            <br />
            <table style="border:0 solid;float:none;margin:0 auto">
                <tr>
                    <td>
                        <b>Bahan :</b>
                    </td>
                    <td style="padding-right:2%">
                        @Session["namabahan"].ToString()
                    </td>
                    <td style="padding-left:15px">
                        <b> Sablon :</b>
                    </td>
                    <td>
                        @Session["namasablon"].ToString()
                    </td>
                    <td  style="padding-left:15px">
                        <b>Harga Satuan :</b>
                    </td>
                    <td>
                        @Session["hargasatuan"].ToString()
                    </td>
                </tr>
            </table>
            <hr />
            <table style="border:0 solid;float:none;margin:0 auto">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Jumlah Harga</th>
                </tr>
                <tr>
                    <td align="right" style="padding-right:40px">
                        Jumlah Pesanan :
                    </td>
                    <td  style="padding-right:40px">
                        @ViewBag.Jumlahtotal &nbsp; 
                    </td>
                    <td align="right">Rp @String.Format("{0:C}", @ViewBag.totalharga) </td>
                </tr>
                <tr>
                    <td align="right" style="padding-right:40px">Jumlah XXL : </td>
                    <td style="padding-right:40px">
                        @ViewBag.xxl
                    </td>
                    <td align="right">Rp @String.Format("{0:C}", @ViewBag.hargaxxl) </td>
                </tr>
                <tr>
                    <td align="right" style="padding-right:40px">Lebih dari XXL : </td>
                    <td style="padding-right:40px">
                        @ViewBag.lebihxxl
                    </td>
                    <td align="right">Rp @String.Format("{0:C}", @ViewBag.hargalebihxxl) </td>
                </tr>
                @if (Session["tambahan1"].ToString() != "")
                {
                    <tr>
                        <td align="right" style="padding-right:40px">@Session["tambahan1"].ToString() : </td>
                        <td style="padding-right:40px">
                            @Session["jmlhtambahan1"].ToString()
                        </td>
                        <td align="right">Rp @String.Format("{0:C}", @ViewBag.tothar1)</td>
                    </tr>
                }
                @if (Session["tambahan2"].ToString() != "")
                {
                    <tr>
                        <td align="right" style="padding-right:40px">@Session["tambahan2"].ToString() : </td>
                        <td style="padding-right:40px">
                            @Session["jmlhtambahan2"].ToString()
                        </td>
                        <td align="right">Rp @String.Format("{0:C}", @ViewBag.tothar2)</td>
                    </tr>
                }
                @if (Session["tambahan3"].ToString() != "")
                {
                    <tr>
                        <td align="right" style="padding-right:40px">@Session["tambahan3"].ToString() : </td>
                        <td style="padding-right:40px">
                            @Session["jmlhtambahan3"].ToString()
                        </td>
                        <td align="right">Rp @String.Format("{0:C}", @ViewBag.tothar3)</td>
                    </tr>
                }
            </table>
            <hr />
            <table style="border:0 solid;float:none;margin-left:50%">
                <tr>
                    <th style="padding-right:40px">Total : </th>
                    <td></td>
                    <th>Rp @String.Format("{0:C}", @ViewBag.Totalhargaall)</th>
                </tr>
            </table>
            <br />
            <div class="text-center">
                <button class="btn btn-primary" onclick="history.go(-1);">Ubah Data Pesanan</button>
                <button class="btn btn-success" onclick="location.href='@Url.Action("AddtoCart","ShoppingCart")'">Masukkan ke keranjang</button>

            </div>
            <br />
        </div>
    </div>
</div>

