
@{
    ViewBag.Title = "CreatePesananPakaian";
}

@{
    Layout = "~/Views/Shared/_LayoutNoWhiteBar.cshtml";
}
@{
    int jumlah1 = 0;
}}
<div class="container">
    <div class="row" style="margin-top:40px">
        <h6 style="float:left;margin-left:20px"><a href='@Url.Action("Indexku","Home")'>Beranda</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href='@Url.Action("Index","Produk")'>Produk</a>&nbsp;&nbsp;>&nbsp;&nbsp;Pemesanan</h6>
        <br />
        <hr />
        @using (Html.BeginForm("CreatePesananPakaian", "Produk", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="col-md-4 col-xs-4">
                <div class="thumbnail clearfix text-center" style="max-width:350px;width:100%">


                    @Html.AntiForgeryToken()
                    <h3 style="color:@(Session["warnanavbar"].ToString())">@Session["namaproduk"].ToString()</h3>
                    <hr />
                    <table style="border:0 solid;float:none;margin:0 auto">

                        <tr><td style="text-align:center"><img src="http://localhost:52494/Content/Images/@Session["fotoproduk"].ToString()" style="min-height:200px;height:200px;" /></td></tr>

                    </table>

                    <br />

                    <br />


                </div>
                <br />

            </div>

            <div class="col-md-8 col-xs-8">
                <div class="thumbnail clearfix text-center" style="max-width:700px;width:100%">

                    <h3 style="color:@(Session["warnanavbar"].ToString())">Detail Pesanan</h3>
                    <hr />
                    <div class="row">
                        <table style="border:0 solid;float:none;margin-left:70px">
                            <tr>
                                <th style="text-align:center">
                                    Bahan dan jenis sablon
                                </th>
                                <th style="text-align:center">
                                    Desain
                                </th>
                            </tr>
                            <tr>
                                <td style="padding-right:20px">
                                    @Html.DropDownList("lstbahan", (IEnumerable<SelectListItem>)ViewBag.Bahan, new { id = "dropdownbahan", name = "bahan", @class = "form-control" })
                                </td>
                                <td>
                                    <input name="desain" type="file" class="form-control" />
                                </td>
                            </tr>
                        </table>
                        <hr style="max-width:670px" />
                    </div>

                    <div class="row" style="margin-left:55px">
                        <h5 style="text-align:center;margin-right:50px"><b>Jumlah per Ukuran</b></h5>


                        <table style="border:0 solid;float:none;margin:0">
                            <tr>
                                <td style="padding-right:10px">Anak</td>
                                <td style="padding-right:20px"><input type="number" class="form-control text-center" style="max-width:70px" onblur="jumlah()" id="anak" name="anak" /></td>
                                <td style="padding-right:10px">XS</td>
                                <td style="padding-right:20px"><input type="number" class="form-control text-center" style="max-width:70px" id="xs" name="xs" /></td>
                                <td style="padding-right:10px">S</td>
                                <td style="padding-right:20px"><input type="number" class="form-control text-center" style="max-width:70px" id="s" name="s" /></td>
                                <td style="padding-right:10px">M</td>
                                <td style="padding-right:20px"><input type="number" class="form-control text-center" style="max-width:70px" id="m" name="m" /></td>
                                <td style="padding-right:10px">L</td>
                                <td style="padding-right:20px"><input type="number" class="form-control text-center" style="max-width:70px" id="l" name="l" /></td>
                            </tr>
                            <tr>
                                <td>XL</td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="xl" name="xl" /></td>
                                <td>XXL</td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="xxl" name="xxl" /></td>
                                <td>XXXL</td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="xxxl" name="xxxl" /></td>
                                <td>4XL</td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="4xl" name="empatxl" /></td>
                                <td>5XL</td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="5xl" name="limaxl" /></td>
                            </tr>
                        </table>
                        <script>

                        </script>
                        <hr style="max-width:670px" />
                        <h5 style="text-align:center;margin-right:50px"><b>Tambahan</b></h5>
                        <table style="border:0 solid;float:none;margin:0">
                            <tr>
                                <td style="padding-right:10px">Tambahan</td>
                                <td style="margin-right:30px">
                                    @Html.DropDownList("lsttambahan", (IEnumerable<SelectListItem>)ViewBag.Tambahan, new { id = "dropdowntambahan1", name = "tambahan1", @class = "form-control" })
                                </td>
                                <td style="padding-left:30px">di ukuran </td>
                                <td>
                                    @Html.DropDownList("lstukuran", (IEnumerable<SelectListItem>)ViewBag.Ukuran, new { id = "dropdownukuran1", name = "ukuran1", @class = "form-control" })
                                </td>
                                <td style="padding-left:30px;padding-right:20px">Jumlah </td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="jmlhtambahan1" name="jmlhtambahan1" /></td>
                            </tr>
                            <tr>
                                <td>Tambahan</td>
                                <td>
                                    @Html.DropDownList("lsttambahan", (IEnumerable<SelectListItem>)ViewBag.Tambahan, new { id = "dropdowntambahan2", name = "tambahan2", @class = "form-control" })
                                </td>
                                <td style="padding-left:30px">di ukuran </td>
                                <td>
                                    @Html.DropDownList("lstukuran", (IEnumerable<SelectListItem>)ViewBag.Ukuran, new { id = "dropdownukuran2", name = "ukuran2", @class = "form-control" })
                                </td>
                                <td style="padding-left:30px;padding-right:20px">Jumlah </td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="jmlhtambahan2" name="jmlhtambahan2" /></td>
                            </tr>
                            <tr>
                                <td>Tambahan</td>
                                <td>
                                    @Html.DropDownList("lsttambahan", (IEnumerable<SelectListItem>)ViewBag.Tambahan, new { id = "dropdowntambahan3", name = "tambahan3", @class = "form-control" })
                                </td>
                                <td style="padding-left:30px">di ukuran </td>
                                <td>
                                    @Html.DropDownList("lstukuran", (IEnumerable<SelectListItem>)ViewBag.Ukuran, new { id = "dropdownukuran3", name = "ukuran3", @class = "form-control" })
                                </td>
                                <td style="padding-left:30px;padding-right:20px">Jumlah </td>
                                <td><input type="number" class="form-control text-center" style="max-width:70px" id="jmlhtambahan3" name="jmlhtambahan3" /></td>
                            </tr>
                        </table>
                    </div>
                    <br />
                    <br />
                    <div class="text-center">
                        <input type="submit" value="Hitung Biaya" style="color:white;background-color:@(Session["warnanavbar"].ToString())" class="btn text-center" />
                    </div>

                    <br />

                </div>

            </div>
        }
    </div>
</div>
