@model IEnumerable<E_Commerce_MultiTenant.Models.Order>

@{
    ViewBag.Title = "GetAllOrder";
}
@{
    Layout = "~/Views/Shared/_LayoutNoWhiteBar.cshtml";
}


<div class="container" style="margin-top:5%">
    <h2>GetAllOrder</h2>
    <table class="table">
        <tr>
            <th>
                No.Order
            </th>
            <th>
                Nama Customer
            </th>
            <th>
               Tanggal Pesan
            </th>
            <th>
                Status Bayar
            </th>
            <th>
               Tanggal Konfirmasi
            </th>
            <th>
                Total Harga
            </th>
            <th>
                Dikirim
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.no_order)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nama_customer)
                </td>
                <td>
                    @item.tgl_order
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status_bayar)
                </td>
                @if (item.tgl_konfirmasi == null)
                {
                    <td>-</td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.tgl_konfirmasi)
                    </td>
                }
                @if (item.total_harga == 0)
                {
                    <td>-</td>
                }
                else
                {
                    <td>
                       
                        Rp @String.Format("{0:n0}", item.total_harga)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.dikirim)
                </td>
                <td>
                    <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("DetailOrderKaryawan","ShoppingCart")/?id=@item.no_order'">Lihat Detail</button>
                    <button class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("KonfirmasiBayar","ShoppingCart")/?id=@item.no_order'">Konfirmasi Bayar</button>

                </td>
            </tr>
        }

    </table>
</div>