@model IEnumerable<E_Commerce_MultiTenant.Models.DetailOrder>

@{
    ViewBag.Title = "ShowCart";
}
@{
    Layout = "~/Views/Shared/_LayoutNoWhiteBar.cshtml";
}
<div class="container" style="margin-top:5%">

    <h3 class="text-center">Keranjang Belanja</h3>
    <hr />
    <br />
    <table class="table">
        <tr>
            <th>
                Desain
            </th>
            <th>
                Nomor Detail
            </th>
            <th>
                Nama Produk
            </th>
            <th>
                Nama Bahan
            </th>
            <th>
                Nama Sablon
            </th>


            <th>
                Jumlah
            </th>
            <th>
                Subtotal
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Content/Images/@item.desain" class="img-responsive" style="max-height:50px;max-width:50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.no_detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.namaproduk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.namabahan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.namasablon)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.jumlah)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subtotal)
                </td>

                <td>

                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            <tr>
                <th>Ukuran</th>
                <th>Jumlah</th>
                <th>Tambahan</th>
            </tr>
            foreach (var item2 in ViewBag.Ukuran)
            {
                if (item2.no_detail == item.no_detail)
                {
                    <tr>
                        <td>@item2.ukuran</td>
                        <td>@item2.jumlah</td>
                        <td>@item2.tambahan</td>
                    </tr>
                }
            }
        }

    </table>
    <div class="text-center">
        @Html.ActionLink("Cetak Invoice", "KonfirmasiKirim", "ShoppingCart", null, new { onclick = "return confirm('Anda yakin sudah selesai melakukan pemesanan? Data keranjang belanja akan kosong setelah invoice dicetak')", @class = "btn btn-primary hvr-grow" })

    </div>
</div>