<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="min-height:90px;background-color:@(Session["warnanavbar"].ToString())">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <table>
                    <tr>
                        <td>
                            <a href='@Url.Action("Indexku","Home")'><img src="http://localhost:52494/Content/Images/@Session["logo"].ToString()" height="50" width="50" style="margin-top:20px" /></a>
                        </td>
                        <td>
                            @Html.ActionLink(Session["nama_perusahaan"].ToString(), "Indexku", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "font-family:'Lemon/Milk';font-size:50px;color:#ffffff;margin-top:20px;margin-left:1px" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="navbar-collapse collapse" style="margin-top:20px">

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    

    @RenderBody()
    <div class="container body-content">
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
