

@{
    ViewBag.Title = "CreateKaryawan";
}
@section navwizard {


    <link rel="stylesheet" href="~/Content/bootstrap-nav-wizard.css" type="text/css" />

}

<div class="row">
    @Html.ActionLink("Lanjut ke penambahan produk >>", "CreateProduk", "Penyewa", null, new { onclick = "return confirm('Anda yakin sudah selesai mengisi data karyawan dan hendak melanjutkan ke pengisian produk?')", @class = "btn btn-success btn-sm", @style = "float:right;margin-right:40px" })
</div>
<br />

    <div class="col-md-6 col-xs-6">
        <div class="thumbnail clearfix text-center" style="max-width:500px;width:100%;margin-left:10%">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                <h3 style="color:#47a447">I S I &nbsp; &nbsp; D A T A &nbsp;&nbsp; K A R Y A W A N</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table style="border:0 solid;float:none;margin:0 auto">
                    <tr><th style="text-align:center">Nama Karyawan</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <input type="text" class="form-control text-center" id="namabahan" name="nama_karyawan" />
                        </td>
                    </tr>
                    <tr><th style="text-align:center">Email Karyawan</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <input type="text" class="form-control text-center" id="namabahan" name="email_karyawan" />
                        </td>
                    </tr>
                    <tr><th style="text-align:center">Password</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <input type="password" class="form-control text-center" id="namabahan" name="password" />
                        </td>
                    </tr>
                    <tr><th style="text-align:center">Tempat Lahir</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <input type="text" class="form-control text-center" id="namabahan" name="tempat_lahir" />
                        </td>
                    </tr>
                    <tr><th style="text-align:center">Tanggal Lahir</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <div class="dropdown" style="display:inherit;padding-right:10px">
                                <button class="btn btn-default dropdown-toggle" style="width:60px" type="button" data-toggle="dropdown" name="tanggal" id="btntanggal">
                                    Tgl
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" id="dropdowntanggal">
                                    @for (int tgl = 1; tgl <= 31; tgl++)
                                    {
                                        <li><a href="#/">@tgl.ToString()</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="dropdown" style="display:inherit">
                                <button class="btn btn-default dropdown-toggle" style="width:100px" type="button" data-toggle="dropdown" name="bulan" id="btnbulan">
                                    Bulan
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" id="dropdownbulan">

                                    <li><a href="#/">Januari</a></li>
                                    <li><a href="#/">Februari</a></li>
                                    <li><a href="#/">Maret</a></li>
                                    <li><a href="#/">April</a></li>
                                    <li><a href="#/">Mei</a></li>
                                    <li><a href="#/">Juni</a></li>
                                    <li><a href="#/">Juli</a></li>
                                    <li><a href="#/">Agustus</a></li>
                                    <li><a href="#/">September</a></li>
                                    <li><a href="#/">Oktober</a></li>
                                    <li><a href="#/">November</a></li>
                                    <li><a href="#/">Desember</a></li>

                                </ul>
                            </div>
                            <div class="dropdown" style="display:inherit;padding-left:10px">
                                <button class="btn btn-default dropdown-toggle" style="width:80px" type="button" data-toggle="dropdown" name="tahun" id="btntahun">
                                    Tahun
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu" id="dropdowntahun">
                                    @for (int tgl = 1960; tgl <= 2018; tgl++)
                                    {
                                        <li><a href="#/">@tgl.ToString()</a></li>
                                    }
                                </ul>
                            </div>


                        </td>
                    </tr>

                    <tr><th style="text-align:center">No Telepon</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <input type="text" class="form-control text-center" id="namabahan" name="no_telp" />
                        </td>
                    </tr>

                    <tr><th style="text-align:center">Alamat</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <input type="text" class="form-control text-center" id="namabahan" name="alamat" />
                        </td>
                    </tr>
                    <tr><th style="text-align:center">Jenis Kelamin</th></tr>
                    <tr>
                        <td style="padding-bottom:10px">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" name="jns_kelamin" id="btnjk">
                                    Jenis Kelamin
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="dropdownjk">

                                    <li><a href="#/">L</a></li>
                                    <li><a href="#/">P</a></li>

                                </ul>
                            </div>
                        </td>
                    </tr>

                </table>

                <input type="submit" value="Create" class="btn btn-success" />
                <br />
                <br />
                <script type="text/javascript">
                    $(function () {

                        $("#dropdowntanggal").on('click', 'li a', function () {
                            $("#btntanggal").text($(this).text());
                            $("#btntanggal").val($(this).text());
                            var tes = $(this).text();

                        });
                        $("#dropdownbulan").on('click', 'li a', function () {
                            $("#btnbulan").text($(this).text());
                            $("#btnbulan").val($(this).text());
                            var tes = $(this).text();

                        });
                        $("#dropdowntahun").on('click', 'li a', function () {
                            $("#btntahun").text($(this).text());
                            $("#btntahun").val($(this).text());
                            var tes = $(this).text();

                        });
                        $("#dropdownjk").on('click', 'li a', function () {
                            $("#btnjk").text($(this).text());
                            $("#btnjk").val($(this).text());
                            var tes = $(this).text();

                        });
                    });
                </script>
            }
        </div>
    </div>
