@model IEnumerable<Pendaftaran_Tenant.Penyewa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Raw(TempData["Pesan"])
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_perusahaan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alamat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.no_telp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_bayar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama_perusahaan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.no_telp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status_bayar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_penyewa })
                @Html.ActionLink("Buat Tabel", "Addtable", new { id = item.id_penyewa })
                @*<button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "Penyewa")?id=item.id_penyewa'">Edit Status Bayar</button>*@

            </td>
        </tr>
    }

</table>
