@model IEnumerable<Pendaftaran_Tenant.Models.Produk>

@{
    ViewBag.Title = "IndexProduk";
}

<h2>IndexProduk</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_produk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deskripsi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto_produk)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nama_produk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deskripsi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto_produk)
        </td>
        <td>
            @Html.ActionLink("Tambah Bahan", "CreateBahan", new { id = item.id_produk }) |
            @Html.ActionLink("Tambah Jenis Sablon", "CreateJenisSablon", new { id = item.id_produk })

        </td>
    </tr>
}

</table>
