@model IEnumerable<Pendaftaran_Tenant.Models.Bahan>

@{
    ViewBag.Title = "IndexBahanBig";
}
@Html.Raw(TempData["Pesan"])

<h2 class="text-center">DAFTAR BAHAN</h2>
<hr />
<div class="row">
    <a onclick="location.href='@Url.Action("IndexProdukBig", "Penyewa")'" class="btn btn-warning btn-sm" style="margin-left:35px"><< Kembali ke daftar produk</a>
    <a onclick="location.href='@Url.Action("CreateBahan", "Penyewa")'" class="btn btn-warning btn-sm" style="margin-right:35px;float:right">Tambah Bahan >></a>
</div>
<br />
<div class="col-md-12 col-xs-12">
    <div class="thumbnail clearfix text-center" style="max-width:1200px;width:100%">

        <table class="table table-striped">
            <tr>
                <th style="text-align:center">

                   Nama Bahan
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                <tr>
                    <td>
                        @*<input type="text" class="form-control" id="namabahan_@item.i.ToString()" style="display:none" />*@
                        <p id="nama_@item.i.ToString()">@Html.DisplayFor(modelItem => item.value.nama_bahan)</p>
                    </td>
                    <td>
                        <input type="button" value="Ubah" onclick="location.href='@Url.Action("EditBahan", "Penyewa")?id=' + @item.value.id_bahan" class="btn btn-primary btn-sm" />
                        <input type="button" value="Hapus" onclick="location.href='@Url.Action("DeleteBahan", "Penyewa")?id=' + @item.value.id_bahan" class="btn btn-danger btn-sm" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>