@model IEnumerable<Pendaftaran_Tenant.Models.Bahan>

@{
    ViewBag.Title = "IndexBahan";
}

<h2>Isi Bahan untuk produk @ViewBag.namaproduk</h2>

@Html.Partial("CreateBahan2")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_produk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_bahan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_produk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nama_bahan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_bahan }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_bahan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_bahan })
        </td>
    </tr>
}

</table>
