@model IEnumerable<Pendaftaran_Tenant.Models.Karyawan>

@{
    ViewBag.Title = "IndexKaryawan";
}
@section navwizard {


    <link rel="stylesheet" href="~/Content/bootstrap-nav-wizard.css" type="text/css" />

}
<br />
<div class="text-center">
    <ul class="nav nav-wizard" style="display:inline-block">
        <li><a style="color:#47a447">Design Website</a></li>
        <li><a style="color:#47a447">Gambar Homepage</a></li>
        <li class="active"><a>Data Karyawan</a></li>
        <li><a style="color:#47a447">Data Produk, bahan, sablon dan harga</a></li>
        <li><a style="color:#47a447">Ulasan Produk</a></li>

    </ul>
</div>
<br />

<br />


<h3 style="color:#47a447" class="text-center">D A F T A R &nbsp;&nbsp; K A R Y A W A N</h3>
<hr />

@Html.Partial("CreateKaryawan2")
<div class="row" id="rowku">
    <div class="col-md-6 col-xs-6">
        <div class="thumbnail clearfix text-center" style="max-width:1500px;width:100%">
            <table class="table">
                <tr>
                    <th>
                        Nama Karyawan
                    </th>
                    <th>
                        Email Karyawan
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nama_karyawan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email_karyawan)
                        </td>

                        <td>
                            @Html.ActionLink("Ubah", "EditKaryawan", new { id = item.id_karyawan }, new { @class = "btn btn-warning btn-xs" })

                            @Html.ActionLink("Delete", "DeleteKaryawan", new { id = item.id_karyawan }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>



