@model IEnumerable<Pendaftaran_Tenant.Models.JenisSablon>

@{
    ViewBag.Title = "IndexBahanBig";
}

<h2 class="text-center">DAFTAR JENIS SABLON</h2>
<hr />
<div class="row">
    <a onclick="location.href='@Url.Action("IndexProdukBig", "Penyewa")'" class="btn btn-warning btn-sm" style="margin-left:35px"><< Kembali ke daftar produk</a>
    <a onclick="location.href='@Url.Action("CreateJenisSablon", "Penyewa")'" class="btn btn-success btn-sm" style="margin-right:35px;float:right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Tambah Jenis Sablon >></a>
</div>
<br />
<div class="col-md-12 col-xs-12">
    <div class="thumbnail clearfix text-center" style="max-width:1200px;width:100%">

        <table class="table table-striped">
            <tr>
                <th style="text-align:center">

                    Nama Bahan
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                <tr>
                    <td>
                        @*<input type="text" class="form-control" id="namabahan_@item.i.ToString()" style="display:none" />*@
                        <p id="nama_@item.i.ToString()">@Html.DisplayFor(modelItem => item.value.nama_sablon)</p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditJenisSablon", new { id = item.value.id_jns_sablon, namasablon = item.value.nama_sablon }, new { @class = "btn btn-primary btn-sm" })
                        <input type="button" value="Hapus" onclick="location.href='@Url.Action("DeleteJenisSablon", "Penyewa")?id=' + @item.value.id_jns_sablon" class="btn btn-danger btn-sm" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>