@model IEnumerable<Pendaftaran_Tenant.Models.HargaViewModel>

@{
    ViewBag.Title = "IndexViewHarga";
}

<h2>IndexViewHarga</h2>
@Html.Raw(TempData["Pesan"])

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_produk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_bahan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_sablon)
        </th>

        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.harga)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Select((value, i) => new { i, value }))
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.value.nama_produk)
            </td>
            @if (item.value.nama_bahan == null)
            {
                <td>-</td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.value.nama_bahan)
                </td>
            }
            @if (item.value.nama_sablon == null)
            {
                <td>-</td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.value.nama_sablon)
                </td>
            }


            @if (item.value.harga == 0)
            {
                <td align="center">
                    <input type="text" class="form-control" id="harga_@item.i.ToString()" name="harga" style="width:6em" />
                </td>
                <td align="center">
                    <button class="btn btn-success" onclick="location.href='@Url.Action("AddHarga","Penyewa")?idbahan=' + '@item.value.id_bahan' + '&idproduk=' + '@item.value.id_produk' + '&idsablon=' + '@item.value.id_jns_sablon' + '&harga=' + $('#harga_@item.i.ToString()').val()">Tambah Harga</button>
                </td>
            }
            else
            {
                <td align="center">
                    @Html.DisplayFor(modelItem => item.value.harga)
                </td>

                <td align="center">
                    <span class="glyphicon glyphicon-signal glyphicon-check" style="color:lawngreen"></span>
                </td>
            }


        </tr>
    }

</table>
