@model IEnumerable<Pendaftaran_Tenant.Models.JenisSablon>

@{
    ViewBag.Title = "IndexJenisSablon";
}

@Html.Partial("CreateJenisSablon2")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_produk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_sablon)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_produk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama_sablon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_jns_sablon }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_jns_sablon }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_jns_sablon })
            </td>
        </tr>
    }

</table>
