@model IEnumerable<Pendaftaran_Tenant.Models.ProdukLengkapViewModel>

@{
    ViewBag.Title = "IndexProdukLengkap";
}



@section navwizard {


    <link rel="stylesheet" href="~/Content/bootstrap-nav-wizard.css" type="text/css" />

}
<br />
<div class="text-center">
    <ul class="nav nav-wizard" style="display:inline-block">
        <li><a style="color:#47a447">Design Website</a></li>
        <li><a style="color:#47a447">Gambar Homepage</a></li>
        <li><a style="color:#47a447">Data Karyawan</a></li>
        <li><a style="color:#47a447">Data Produk, bahan, sablon dan harga</a></li>
        <li class="active"><a>Ulasan Produk</a></li>


    </ul>
</div>
<br />
<br />
<div class="row">
    <h2 class="text-center" style="color:#47a447">U L A S A N     &nbsp;&nbsp; P R O D U K</h2>
    @Html.ActionLink("Selesai", "Selesai", "Penyewa", new { @class = "btn btn-success btn-sm", @style = "float:right;margin-right:40px" })
</div>
<hr />
@Html.Raw(TempData["Pesan"])
<div class="row">

    @{ var tambahan = "";
        var bahan = "";
        var sablon = "";};
    @foreach (var item in Model.GroupBy(x => x.nama_produk).Select(y => y.First()).ToList())
    {
        //if (item.nama_produk != produk)
        //{
        @*@produk = item.nama_produk;*@
        <div class="col-md-4">
            <h3 style="text-align:center">@item.nama_produk</h3>
            <div class="thumbnail">
                <img src="~/Content/Images/@item.foto_produk" style="min-height:200px;height:200px;" />
            </div>

            <table class="table">

                <tr style="background-color:#ededed">
                    <th style="text-align:center">Bahan</th>

                    <th style="text-align:center">Harga</th>


                </tr>
                @foreach (var item2 in Model)
                {
                    <tr>
                        @if (item2.nama_produk == item.nama_produk)
                        {
                            if (bahan != item2.nama_bahan)
                            {
                            <td style="text-align:center">@item2.nama_bahan</td>

                            <td style="text-align:center">@item2.harga_bahan</td>
                                bahan = item2.nama_bahan;
                            }
                            else
                            {

                            }

                        }
                    </tr>
                }
            </table>
            <table class="table">

                <tr style="background-color:#ededed">
                    <th style="text-align:center">Sablon</th>

                    <th style="text-align:center">Harga</th>


                </tr>
                @foreach (var item4 in Model)
                {
                    <tr>
                        @if (item4.nama_produk == item.nama_produk)
                        {
                            if (sablon != item4.nama_sablon)
                            {
                            <td style="text-align:center">@item4.nama_sablon</td>

                            <td style="text-align:center">@item4.harga_sablon</td>
                                sablon = item4.nama_sablon;
                            }
                            else { }

                        }
                    </tr>
                }
            </table>
            <table class="table">

                <tr style="background-color:#ededed">
                    <th style="text-align:center">Tambahan</th>

                    <th style="text-align:center">Harga Tambahan</th>


                </tr>
                @foreach (var item3 in Model)
                {
                    <tr>
                        @if (item3.nama_produk == item.nama_produk)
                        {
                            if (tambahan != item3.nama_tambahan)
                            {
                                <td style="text-align:center">@item3.nama_tambahan</td>
                                <td style="text-align:center">@item3.harga_tambahan</td>
                                tambahan = item3.nama_tambahan;
                            }
                            else { };

                        }

                    </tr>
                }
            </table>
        </div>
        @*}*@


    }
</div>

