@model IEnumerable<Pendaftaran_Tenant.Models.Bahan>

@{
    ViewBag.Title = "IndexBahanBig";
}

<h2 class="text-center">DAFTAR BAHAN</h2>
<div class="col-md-12 col-xs-12">
    <div class="thumbnail clearfix text-center" style="max-width:1200px;width:100%">

        <table class="table table-striped">
            <tr>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.nama_bahan)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nama_bahan)
                    </td>
                    <td>
                        <input type="button" value="Ubah" onclick="location.href='@Url.Action("EditProduk", "Penyewa")?id=' + @item.id_produk" class="btn btn-primary btn-sm" />
                        <input type="button" value="Hapus" onclick="location.href='@Url.Action("DeleteProduk", "Penyewa")?id=' + @item.id_produk" class="btn btn-danger btn-sm" />
                    </td>
                </tr>
            }

        </table>
    </div>
</div>