@model IEnumerable<Pendaftaran_Tenant.Models.Produk>

@{
    ViewBag.Title = "IndexProdukLengkap";
}



@section navwizard {


    <link rel="stylesheet" href="~/Content/bootstrap-nav-wizard.css" type="text/css" />

}
<br />
<div class="text-center">
    <ul class="nav nav-wizard" style="display:inline-block">
        <li><a style="color:#47a447">Design Website</a></li>
        <li><a style="color:#47a447">Gambar Homepage</a></li>
        <li><a style="color:#47a447">Data Karyawan</a></li>
        <li><a style="color:#47a447">Data Produk, bahan, sablon dan harga</a></li>
        <li class="active"><a>Ulasan Produk</a></li>


    </ul>
</div>
<br />
<br />
<div class="row">
    <h2 class="text-center" style="color:#47a447">U L A S A N     &nbsp;&nbsp; P R O D U K</h2>
    @Html.ActionLink("Selesai", "Selesai", "Penyewa", new { @class = "btn btn-success btn-sm", @style = "float:right;margin-right:40px" })
</div>
<hr />
@Html.Raw(TempData["Pesan"])
<div class="row">

    
    @foreach (var item in Model.GroupBy(x => x.nama_produk).Select(y => y.First()).ToList())
    {
        
        <div class="col-md-4">
            <h3 style="text-align:center">@item.nama_produk</h3>
            <div class="thumbnail">
                <img src="~/Content/Images/@item.foto_produk" style="min-height:200px;height:200px;" />
            </div>

            <table class="table">

                <tr style="background-color:#ededed">
                    <th style="text-align:center">Bahan</th>

                    <th style="text-align:center">Harga</th>


                </tr>
                @foreach (var item2 in ViewBag.Bahan)
                {
                    <tr>
                        @if (item2.id_produk == item.id_produk)
                        {
                            
                            <td style="text-align:center">@item2.nama_bahan</td>

                            <td style="text-align:center">Rp @String.Format("{0:n0}", @item2.harga)</td>
                                

                        }
                    </tr>
                }
            </table>
            <table class="table">

                <tr style="background-color:#ededed">
                    <th style="text-align:center">Sablon</th>

                    <th style="text-align:center">Harga</th>


                </tr>
                @foreach (var item4 in ViewBag.Sablon)
                {
                    <tr>
                        @if (item4.id_produk == item.id_produk)
                        {
                           
                            <td style="text-align:center">@item4.nama_sablon</td>

                            <td style="text-align:center">Rp @String.Format("{0:n0}", @item4.harga)</td>
                                

                        }
                    </tr>
                }
            </table>
            <table class="table">

                <tr style="background-color:#ededed">
                    <th style="text-align:center">Tambahan</th>

                    <th style="text-align:center">Harga Tambahan</th>


                </tr>
                @foreach (var item3 in ViewBag.Tambahan)
                {
                    <tr>
                        @if (item3.id_produk == item.id_produk)
                        {
                            
                                <td style="text-align:center">@item3.nama_tambahan</td>
                                <td style="text-align:center">Rp @String.Format("{0:n0}", @item3.harga)</td>
                                

                        }

                    </tr>
                }
            </table>
        </div>
        @*}*@


    }
</div>

