@model IEnumerable<Pendaftaran_Tenant.Models.HargaViewModel>

@{
    ViewBag.Title = "IndexViewHarga";
}

<h2>IndexViewHarga</h2>
@Html.Raw(TempData["Pesan"])
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_bahan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_sablon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nama_produk)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.harga)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama_bahan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama_sablon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama_produk)
            </td>
            @if (item.harga == 0)
            {
            <td align="center">
                <input type="text" class="form-control" id="harga" name="harga" style="width:6em" />
            </td>
            <td align="center">
                <button class="btn btn-success" onclick="location.href='@Url.Action("AddHarga","Penyewa")?namabahan=' + '@item.nama_bahan' + '&namaproduk=' + '@item.nama_produk' + '&namajenissablon=' + '@item.nama_sablon' + '&harga=' + $('#harga').val()">Tambah Harga</button>
            </td>
            }
            else
            {
                <td align="center">
                    @Html.DisplayFor(modelItem => item.harga)
                </td>

                <td align="center">
                    <span class="glyphicon glyphicon-signal glyphicon-check" style="color:lawngreen"></span>
                </td>
            }


        </tr>
    }

</table>
