@using Pendaftaran_Tenant.Models
@model Penyewa
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = "~/Views/Shared/_LayoutNoBar.cshtml";
}
<h2 style="color:#47a447" class="text-center">@ViewBag.Title</h2>
<hr />

@Html.Raw(TempData["Pesan"])
<div class="col-md-12 col-xs-12" style="margin-left:35%">
    <div class="thumbnail clearfix text-center" style="max-width:300px;width:100%">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Penyewa", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <table style="border:0 solid;float:none;margin:0 auto">
                    <tr>
                        <th style="text-align:center">
                            @Html.LabelFor(m => m.email)
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control text-center", @style = "margin:0" })
                            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        &nbsp;
                    </tr>
                    <tr>
                        <th style="text-align:center">
                            @Html.LabelFor(m => m.password)
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            @Html.PasswordFor(m => m.password, new { @class = "form-control text-center", @style = "margin:0" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
                <br />
                <div>
                    <a onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-warning btn-sm">Kembali ke beranda</a>
                    <input type="submit" value="Log in" class="btn btn-success" />
                </div>
                <br />


            }
        </section>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}